@import '../../styles/colors';

.main {
  display: flex;
  flex-flow: column;
  box-shadow: 0 -4px -8px 0 rgba($mercury, 0.2),
    0 -6px -20px 0 rgba($mercury, 0.19);

  &-section {
    display: block;
    width: 100%;
    background-color: #f2f2f2;
    align-self: stretch;
  }
}
