@import '../../styles/colors';

.main-header {
  width: 100%;
  background-color: $primary;
  height: 7rem;

  &-line {
    height: 2rem;
    background-color: $darken;
    width: 100%;
  }

  &__section {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 0 2rem;
  }
}
