@import 'index';
.w3-content.w3-margin-top {
  max-width: 87.5rem;
}
.designs-pimps {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer > a {
  margin: 0.3rem;
  font-size: 1.5rem;
}

small {
  font-style: italic;
}

.w3-row-padding, .w3-row-padding>.w3-half, .w3-row-padding>.w3-third, .w3-row-padding>.w3-twothird, .w3-row-padding>.w3-threequarter, .w3-row-padding>.w3-quarter, .w3-row-padding>.w3-col {
  padding: .7px;
}

@media only screen and (min-width: 768px) {
  .w3-row-padding, .w3-row-padding>.w3-half, .w3-row-padding>.w3-third, .w3-row-padding>.w3-twothird, .w3-row-padding>.w3-threequarter, .w3-row-padding>.w3-quarter, .w3-row-padding>.w3-col {
    padding: 1.5rem;
  }
}