html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.w3-white.w3-text-grey.w3-card-4.skills {
  animation: movTop 3s;
}
.w3-container.w3-card.w3-white.w3-margin-bottom.experiences-pimps {
  animation: movLeft 3s;
}
.w3-container.w3-card.w3-white.educations {
  animation: movRight 3s;
}
@keyframes movLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  80% {
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes movRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  80% {
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes movTop {
  0% {
    opacity: 0;
    transform: translateY(60%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.table-box {
  display: flex;
  border: solid 1px 1px solid #eee;
}

.w3-sidebar.w3-bar-block.w3-card {
  box-shadow: none;
  margin-top: 1rem;
  border: 1px solid #eee;
  border-radius: 3px;
  position: static !important;

  > h5 {
    margin: 0;
    padding: 1rem;
    border-bottom: 1px solid #eee;
  }
}

*,*::before,*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

p.bosses {
  display: flex;
  flex-flow: column wrap;
  margin: 2rem 0;
  font-weight: 100;

  small {
    color: black;
  }
}

.skill-name {
  margin-top: .5rem;
  font-weight: 400;
  font-style: italic;
  color: #444;
}